.div {
  margin: 25px;
}

.filter {
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 600;
}

.input {
  width: 200px;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  margin-top: 5px;
}
