.section {
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: var(--main-bg-color);
  box-shadow: 0 15px 15px var(--secondary-color);
  border-radius: 10px;
  width: 420px;
}
